body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.nav-bar-container {
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  margin: 0 10px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  padding: 10px;
}

.menus ul {
  display: flex;
  gap: 15px;
  list-style: none;
  align-items: center;
  margin: 0;
}

.main-logo a {
  text-decoration: none;
}

.menus ul li a {
  color: black;
  text-decoration: none;
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 20px;
}

.main-logo a h3 {
  color: black;
  margin: 0;
}

.date-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.date-container p {
  margin-right: 15px;
}

.books-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}

.book-list {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  line-height: 200%;
  width: 100%;
}

.book-row-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  background-color: #f1f1f1;
}

.main-title {
  font-size: 35px;
  font-weight: 400;
}

.book-row-content:nth-child(even) {
  background-color: rgb(225, 225, 225);
}

.delete {
  border: none;
  cursor: pointer;
  height: 20px;
  width: 70px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-top: 40px;
}

.add-book-title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 0;
}

.title-input {
  height: 30px;
  width: 420px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.author-input {
  height: 30px;
  width: 420px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.add-book-button {
  border: none;
  height: 30px;
  width: 70px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  cursor: pointer;
  position: relative;
  left: 180px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 25px;
}

.info-description1 {
  margin-bottom: 0;
}

.info-description2 {
  margin-top: 5px;
  position: relative;
  right: 120px;
}

.contact-list li {
  padding-bottom: 4px;
}

.footer-container {
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  margin: 0 10px;
  position: fixed;
  width: 95%;
  bottom: 0;
  margin-bottom: 20px;
}

.footer {
  margin: 0 50px;
}

.copyright {
  padding: 10px;
}

.hide {
  display: none;
}
